.container {
	width:1024px;
	border:7px solid;
	padding-bottom:25px;
	margin-top: 25px;
}

.header {
	padding-bottom: 10px;
	border-bottom: 7px solid;
}

.ngMadLibs-title {
	margin-top: 25px;
}

.automate-title {
	margin-left: 110px;
}

.directions {
	margin-top:50px;
}

input {
	margin:20px;
}

.select {
	width:38%;
	margin-left:35px;
}

.divider {
	margin-top:0;
}

.error {
	color:red;
	margin-left: 20px;
}

.madlib {
	line-height: 2;
	font-size: 1.2em;
	text-align: left;
	width:75%;
	margin-top: 100px;
}

.reset-btn {
	margin-right: 135px;
	margin-top: 50px;
}
